* {
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  .outer {
    /* position: relative; */
    width: 400px;
    height: 100%;
    border: 3px solid black;
    overflow: auto;
  }
  
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: fixed; */
  }
  
  .header__menu {
    width: 100%;
    height: 100px;
    background-color: rgb(252, 252, 52);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-bottom: 20px; */
    padding: 0 10px 20px 10px;
  }
  
  .header__menu span {
    font-size: 18px;
    font-weight: bold;
  }
  
  .searchbox {
    width: 250px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    color: rgba(0, 0, 0, 0.3);
    background-color: white;
    margin-top: -20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border: none;
  }
  
  .selected-book {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .selected-book__title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .bookdetail {
    display: flex;
  }
  
  .bookcover {
    width: 100px;
    height: 150px;
    margin-right: 10px;
  }
  
  .title span {
    font-size: 20px;
    font-weight: bold;
  }
  
  .title p {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.3);
  }
  
  .ratings {
    margin-top: 10px;
    color: rgb(230, 230, 76);
  }
  
  .select-btn {
    display: flex;
    justify-content: space-between;
  
  }
  
  .smallbtn {
    width: 80px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.02);
    padding: 5px;
    /* border: 1px solid black; */
    margin-right: 20px;
    margin-top: 10px;
  }
  
  .bookinfo {
    display: flex;
    flex-direction: column;
  }
  
  .rib {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: yellow;
  }
  
  .square {
    width: 150px;
    height:30px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding:7px;
  }
  
  .scrollbooks {
    margin: 20px 20px;
    /* background-color: teal; */
    width: 85%;
    overflow: auto;
  }
  
  .book-pictures img {
    height: 100px;
    width: 90px;
  }
  
  .items {
    display: flex;
    
  }
  
  .book-pictures {
    margin-right: 10px;
  }
  
  .star-rate {
    color: rgb(230, 230, 76);
  }
  
  .author {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .authorpicture {
    width: 100px;
    height: 150px;
  }
  
  .author-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .authoredetail {
    display: flex;
  }
  
  .author-bio {
    margin-left: 15px;
  }
  
  .authorname {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .explanation {
    color: rgba(0, 0, 0, 0.4);
  }